body{
    justify-content: center;
    width: 100vw;
    height: 50vw;
    display: flex;
}

#cuadrito{
    background-color: rgb(241, 239, 239);
    width: 30vw;
    height: 30vw;
    border-radius: 5vw;
    margin-top: -22vw;
}

#cuadrito1{
    margin-top: 34vw;
    width: 30vw;
    height: 10vw;
    border-radius: 3.5vw;
    background-color: #ccc;
    box-shadow: 0px 5px 5px #9a9a9a;
}

#cuadrito2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 37vw;
    top: 14vw;
    width: 27vw;
    height: 27vw;
    border-radius: 50%;
    background-color: #21a7f6;
}

#triangulo1{
    width: 0;
    height: 0;
    transform: rotate(40deg);
    border-right: 1vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-left: 11vw solid white;
    transition: transform 1s ease;
    transform-origin: 50% 50%;
}

#triangulo2{
    width: 0;
    height: 0;
    transform: rotate(40deg);
    border-right: 1vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-left: 11vw solid red;
    transition: transform 1s ease;
    transform-origin: 50% 50%;
}

#cuadrito1:hover #triangulo1{
    transform: rotate(-320deg);
}

#cuadrito1:hover #triangulo2{
    transform: rotate(-320deg);
}

@keyframes tg{
    0%{margin-left: 15vw;}
    100%{margin-left: 15vw;}
}