#contenedor{
    width: 100vw;
    height: 50vw;
}

#cielo{
    position: absolute;
    width: 98.5vw;
    height: 50vw;
    z-index: 1vw;
    top: 6vw;
    left: 0.6vw;
}

#nube{
    position: absolute;
    top: 7vw;
    animation-timing-function: linear;
    animation-name: nubes;
    animation-duration:16s;
    animation-iteration-count: infinite;
}

#nube1{
    position: absolute;
    top: 16vw;
    animation-name: nubes;
    animation-duration: 24s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes nubes{
    from{
        translate: -15vw;
    }
    to{
        translate: 100vw;
    }
}

#lista{
    display: none;
}

#menus{
    width: 100vw;
    height: 5.5vw;
    align-items: center;
    display: flex;
    justify-content: end;
    position: fixed;
    background-color: rgb(214, 214, 214);
}

#menu{
    margin-left: -7vw;
    width: 4vw;
    z-index: 3;
}

#lista1{
    margin-left: 76vw;
    position: fixed;
    opacity: 0;
    font-size: 2.2vw;
    width: 20vw;
    height: 15vw;
    margin-top: 6.5vw;
    text-align: end;
}

#uno{
    color: white;
    text-decoration: none;
}

#dos{
    color: white;
    text-decoration: none;
}

#tres{
    color: white;
    text-decoration: none;
}

#lista:checked ~ #lista1{
    opacity: 1;
}