.contenedor{
    width: 500px;
    height: 500px;
    margin: auto;
    background: url(imagenes/walker_frames.png);
    background-position: 0 500px;
    animation: walker 1s steps(10) infinite; /*steps numero de pasos, son 10 imagenes*/
}

@keyframes walker{
    0%{background-position: 0px 0px;}
    100%{background-position: 0px -5000px;}
}
