@font-face {
    font-family: letra;
    src: url(tipografia/Myriad\ Pro\ Regular.ttf);
    font-family: letra1;
    src: url(tipografia/Myriad\ Pro\ Light.otf);
}

.contenido {
    width: 1920px;
    margin: 0 auto;
}

#imgFondo{
    top: 0px;
    left: -288px;
    width: 1920px;
    height: 1254px;
    background: transparent url('imagenes/pexels-clive-kim-4150032.png') 0% 0% no-repeat padding-box;
    opacity: 0.5;
}

.cuadroAzul{
    position: relative;
    width: 1920px;
    height: 174px;
    background-color: #3669c9;
    border: 1px solid #91a9d7;
    top: -1259px;
    box-sizing: border-box;
    z-index: 1;
}

#inicio{
    position: relative;
    color: white;
    top: 54px;
    left: 270px;
    font-size: 44px;
    text-decoration: none;
}

#tramites{
    position: relative;
    color: white;
    top: -43px;
    left: 494px;
    font-size: 44px;
}

#imgGobierno{
    position: relative;
    color: black;
    top:-145px;
    left: 785px;
}

#contacto{
    position: relative;
    color: white;
    top: -252px;
    left: 1302px;
    font-size: 44px;
}

#cuadroConsult{
    top: -356px;
    left: 1628px;
    width: 200px;
    height: 58px;
    position: relative;
    background-color: white;
    border-radius: 26px;
}

#consultar1{
    position: relative;
    color: black;
    top: -419px;
    left: 1662px;
    font-size: 34px;
    text-decoration: none;
}

.cuadroAzul2{
    position: relative;
    width: 1920px;
    height: 174px;
    background-color: #3669c9;
    border: 1px solid #91a9d7;
    top: -351px;
    box-sizing: border-box;
    z-index: 1;
}

#imgLocation{
    top: 8px;
    left: 439px;
    width: 31px;
    height: 41px;
    opacity: 1;
    position: relative;
    font-size: 20px;
}

#texto1{
    position: relative;
    color: white;
    top: -16px;
    left: 364px;
    font-size: 24px;
    text-decoration: none;
}

#texto2{
    position: relative;
    color: white;
    top: -37px;
    left: 151px;
    font-size: 24px;
    text-decoration: none;
}

#texto3{
    position: relative;
    color: white;
    top: -59px;
    left: 346px;
    font-size: 24px;
    text-decoration: none;
}

#texto4{
    position: relative;
    color: white;
    top: -83px;
    left: 252px;
    font-size: 24px;
    text-decoration: none;
}

#imgFooter{
    top: -221px;
    left: 822px;
    width: 313px;
    height: 60px;
    opacity: 1;
    position: relative;
    font-size: 20px;
}

#imgPhone{
    top: -280px;
    left: 1223px;
    width: 31px;
    height: 41px;
    opacity: 1;
    position: relative;
    font-size: 20px;
}

#textos1{
    position: relative;
    color: white;
    top: -302px;
    left: 1410px;
    font-size: 24px;
    text-decoration: none;
}

#textos2{
    position: relative;
    color: white;
    top: -324px;
    left: 1346px;
    font-size: 24px;
    text-decoration: none;
}

#textos3{
    position: relative;
    color: white;
    top: -347px;
    left: 1464px;
    font-size: 24px;
    text-decoration: none;
}

#textos4{
    position: relative;
    color: white;
    top: -369px;
    left: 1469px;
    font-size: 24px;
    text-decoration: none;
}

.cuadroBlanco{
    width: 1545px;
    height: 870px;
    background-color: white;
    border: 1px solid #91a9d7;
    top: -1413px;
    border-radius: 4%;
    margin: auto;
    position: relative;
}

#imgDian{
    top: 52px;
    left: 622px;
    width: 313px;
    height: 53px;
    opacity: 1;
    position: relative;
    font-size: 20px;
}

#bienvenido{
    top: 82px;
    left: 632px;
    width: 666px;
    height: 64px;
    font-family: letra;
    position: relative;
    font-size: 29px;
    color: black;
}

#bienvenido2{
    top: 30px;
    left: 361px;
    width: 991px;
    height: 64px;
    font-family: letra;
    position: relative;
    font-size: 33px;
    color: black;
}

#contraseña{
    top: -286px;
    left: 376px;
    width: 303px;
    height: 21px;
    position: relative;
    font-family: letra;
    font-size: 24px;
    color: #5d5d5d;
}

#cuadroContraseña{
    top: -298px;
    left: 380px;
    width: 792px;
    height: 63px;
    font-size: 35px;
    position: relative;
    border: 1px solid #5d5d5d;
}

.cuadroRepeatContraseña{
    top: -260px;
    left: 382px;
    width: 792px;
    height: 63px;
    font-size: 35px;
    position: relative;
    border: 1px solid #5d5d5d;
}

#repeatContraseña{
    top: -381px;
    left: 380px;
    width: 381px;
    height: 21px;
    position: relative;
    font-family: letra;
    font-size: 24px;
    color: #5d5d5d;
}

#notRobot{
    top: -308px;
    left: 585px;
    width: 401px;
    height: 113px;
    opacity: 1;
    position: relative;
}

#muisca{
    top: -326px;
    left: 598px;
    width: 952px;
    height: 11px;
    font-family: letra1;
    position: relative;
    font-size: 10px;
    color: #9d9d9d;
}

.cuadroCrear{
    top: -313px;
    left: 703px;
    width: 165px;
    height: 42px;
    position: relative;
    background-color: #157ffb;
    border-radius: 18px;
}

#crear{
    top: 10px;
    left: 67px;
    position: relative;
    color: white;
    font-family: letra;
    text-decoration: none;
}

#imgFirma1{
    position: relative;
    top: 108px;
    left: 439px;
    width: 64px;
    height: 50px;
}

#recordar{
    top: -27px;
    left: 571px;
    position: relative;
    color: black;
    font-family: letra;
    font-size: 19px;
}
#imgChulito1{
    position: relative;
    top: -36px;
    left: 613px;
    width: 10px;
    height: 10px;
}

#chulito1{
    top: -69px;
    left: 625px;
    position: relative;
    color: black;
    font-family: letra;
    font-size: 17px;
}

#imgChulito2{
    position: relative;
    top: -88px;
    left: 653px;
    width: 10px;
    height: 10px;
}

#chulito2{
    top: -121px;
    left: 664px;
    position: relative;
    color: black;
    font-family: letra;
    font-size: 17px;
}

#imgChulito3{
    position: relative;
    top: -142px;
    left: 423px;
    width: 10px;
    height: 10px;
}

#chulito3{
    top: -173px;
    left: 436px;
    position: relative;
    color: black;
    font-family: letra;
    font-size: 17px;
}
#imgChulito4{
    position: relative;
    top: -194px;
    left: 506px;
    width: 10px;
    height: 10px;
}

#chulito4{
    top: -227px;
    left: 519px;
    position: relative;
    color: black;
    font-family: letra;
    font-size: 17px;
}

#imgChulito5{
    position: relative;
    top: -246px;
    left: 399px;
    width: 10px;
    height: 10px;
}

#chulito5{
    top: -279px;
    left: 413px;
    position: relative;
    color: black;
    font-family: letra;
    font-size: 17px;
}