body{
    margin: 0;
}
#contenedor{
    width: 100vw;
    height: 50vw;
    background-color: #f6e4ca;
    overflow: hidden;
}

#cuadroBlanco{
    position: relative;
    background-color: white;
    width: 30vw;
    height: 20vw;
    margin-left: 36vw;
    margin-top: 12vw;
    animation-name: cuadroBlanco;
    animation-duration: 5s;
    text-align: center;
}

#img{
    width: 5.5vw;
    height: 5.5vw;
    margin-left: 1vw;
    animation: img 5s ;
    z-index: 3;
    background: white;
    border-radius: 50%;
    margin: auto;
    margin-top: -2vw;
    box-shadow: 1px 1px 5px gray;
}

#letrita{
    margin-top: 1vw;
    color: #f76879;
    width: 30vw;
    font-size: 1.8vw;
    animation: letrita 5s forwards;
}

#letrita2{
    margin-top: 1vw;
    font-size: 1.1vw;
    text-align: center;
    animation: letrita2 5s forwards;
}

#cuadro3{
    color: white;
    margin: auto;
    margin-top: 2vw;
    text-align: center;
    align-content: center;
    width: 18vw;
    height: 3vw;
    font-size: 1.4vw;
    background-color: #269db2;
    transition: background-color 0.3s ease;
    animation: robot 5s infinite;
}

#cuadro3:hover {
    background-color: #f3596b;
}

@keyframes cuadroBlanco{
    0%{top: 0vw;}
    30%{top: 20vw;}
    70%{top: -8vw;}
    100%{top: 2vw;}
}

#lista{
    display: none;
}

#menus{
    width: 100vw;
    height: 5vw;
    align-items: center;
    display: flex;
    justify-content: end;
    position: fixed;
    background-color: #fc9188;
}

#menu{
    margin-left: -5vw;
    width: 4vw;
    z-index: 3;
}

#lista1{
    margin-left: 78vw;
    position: fixed;
    opacity: 0;
    font-size: 2.2vw;
    width: 20vw;
    height: 15vw;
    margin-top: 6.5vw;
    text-align: end;
}

#uno{
    color: black;
    text-decoration: none;
}

#dos{
    color: black;
    text-decoration: none;
}

#tres{
    color: black;
    text-decoration: none;
}

#lista:checked ~ #lista1{
    opacity: 1;
}