html {
    height: 100%;
}

body {
    background: rgb(128, 128, 128);
    background: linear-gradient(0deg, rgba(128, 128, 128, 1) 33%, rgba(255, 255, 255, 1) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 250px;
}

.Cont{
    position: relative;
    margin: auto;
    width: 1400px;
    height: 800px;
    background-color: #FFFFFF;
    top: 140px;
}

.cuadroNegro {
    position: relative;
    width: 110px;
    height: 802px;
    background-color: #212020;
    left: 1290px;
    bottom: 426px;
}
.linea .uno {
    bottom: -40px;
    left: 45px;
    width: 23px;
    height: 13px;
    position: relative;
}

.linea .dos {
    top: 750px;
    left: 15px;
    width: 23px;
    height: 13px;
    position: relative;

}

.linea .tres {
    right: -20px;
    top: 300px;
    position: relative;
}

.lineap {
    color: white;
    text-align: center;
    bottom: 70px;
    font-size: 20px;
    position: relative;
    
}

.contenido {
    top: 43px;
    width: 1400px;
    left: 43px;
    height: 100px;
    position: relative;
}

.contenido .uno {
    color: black;
    font-size: 30px;
    left: 567px;
    bottom: 25px;
    position: relative;
}

.contenido .dos {
    left: 946px;
    bottom: 95px;
    color: black;
    font-size: 30px;
    position: relative;
}

#contenidolupita {
    top: -158px;
    bottom: 155px;
    left: 1100px;
    width: 27px;
    height: 27px;
    position: relative;
}

#contenidocarrito {
    position: relative;
    left: 1150px;
    bottom: 155px;
    width: 34px;
    height: 34px;
}

.contenidoimagenes {
    width: 196px;
    height: 44px;
}

.contenidoh1 {
    bottom: 200px;
    left: 974px;
    font-weight: bold;
    position: relative;
}

.CuadroPequeño {
    bottom: 595px;
    left: 1100px;
    width: 160px;
    height: 114px;
    position: relative;
    background-color: #D5FF43;
    border-radius: 10px;
    transition: all 250ms;
}

.CuadroPequeño:hover {
    transform: scale(1.1);
}

.CuadroPequeñoimagen {
    top: 20px;
    left: 20px;
    width: 129px;
    height: 29px;
    position: relative;
}

.CuadroPequeñop {
    left: 30px;
    font-size: 26px;
    font-weight: bold;
    position: relative;
}

#saldo {
    position: relative;
    bottom: 900px;
    text-align: center;
}

#saldoh1 {
    font-size: 40px;
}

.saldop {
    font-size: 27px;
    font-weight: bold;
}

.saldoe {
    border-radius: 10px;
    width: 288px;
    height: 58px;
    text-align: center;
    font-size: 30px;
    border: 0.5px solid gray;
}

#tarjeta {
    position: relative;
    left: 435px;
    height: 320px;
    width: 530px;
}

#barra {
    position: relative;
    top: -221px;
    left: 957px;
}