html{
    height: 100%;
}

body {
    background: rgb(128, 128, 128);
    background: linear-gradient(0deg,  rgba(128, 128, 128, 1) 33%, rgba(255, 255, 255, 1) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 250ms;
}

.Cont {
    position: relative;
    top: 140px;
    margin: auto;
    height: 800px;
    width: 1400px;
    background-color: #FFFFFF;
}

#carrito {
    position: relative;
    bottom: 100px;
    left: 6000px;
    width: 27px;
    height: 27px;
    top: -300px;
}
.cuadroNegro {
    position: relative;
    top: -604px;
    width: 110px;
    height: 802px;
    background-color: #212020;
    left: 1290px;
    bottom: 601px;
}
.linea .uno {
    bottom: 120px;
    left: 45px;
    width: 23px;
    height: 14px;
    position: relative;
}

.linea .dos {
    top: 560px;
    left: 18px;
    width: 23px;
    height: 13px;
    position: relative;

}

.linea .tres {
    right: 15px;
    top: 300px;
    position: relative;
}

.lineap {
    color: white;
    text-align: center;
    bottom: 70px;
    font-size: 20px;
    position: relative;
    
}

.contenido {
    top: 43px;
    width: 1400px;
    left: 43px;
    height: 100px;
    position: relative;
}

.contenido .uno {
    color: black;
    font-size: 30px;
    left: 699px;
    bottom: 86px;
    position: relative;
}

.contenido .dos {
    left: 950px;
    bottom: 157px;
    color: black;
    font-size: 30px;
    position: relative;
    text-decoration: none;
}

#contenidolupita {
    top: -151px;
    bottom: 150px;
    left: 980px;
    width: 27px;
    height: 27px;
    position: relative;
}

#contenidocarrito {
    position: relative;
    left: 1030px;
    bottom: 153px;
    width: 27px;
    height: 27px;
}

.contenidoimagenes {
    width: 196px;
    height: 44px;
}

.contenidoh1 {
    bottom: 200px;
    left: 154px;
    font-weight: bold;
    position: relative;
}

.CuadroPequeño {
    bottom: 800px;
    left: 1000px;
    width: 160px;
    height: 114px;
    position: relative;
    background-color: #D5FF43;
    border-radius: 10px;
    transition: all 250ms;
}

.CuadroPequeño:hover {
    transform: scale(1.1);
}

.CuadroPequeñoimagen {
    top: 20px;
    left: 20px;
    width: 129px;
    height: 29px;
    position: relative;
}

.CuadroPequeñop {
    left: 30px;
    font-size: 26px;
    font-weight: bold;
    position: relative;
}

#comprador {
    position: relative;
    bottom: 900px;
    left: 58px;
}

#compradorh2 {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    bottom: 5px;
}

.compradorp {
    font-size: 27px;
    position: relative;
    bottom: 39px;
}

#tarjeta {
    position: relative;
    left: 100px;
}
#barra{
    position: relative;
    top: -200px;
    left: 724px;
}