

body {
    background: rgb(128, 128, 128);
    background: linear-gradient(0deg,  rgba(128, 128, 128, 1) 33%, rgba(255, 255, 255, 1) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 300ms;
}

.Contenedor {
    position: relative;
    top: 140px;
    margin: auto;
    height: 800px;
    width: 1400px;
    background-color: #FFFFFF;
}

#linea {
    position: relative;
    top: -900px;
    width: 100px;
    height: 800px;
    background-color: #212020;
    left: 1800px;
    bottom: 601px;
}
.linea .uno {
    bottom: 120px;
    left: 45px;
    width: 23.62px;
    height: 13.5px;
    position: relative;
}

.linea .dos {
    top: 750px;
    left: 18px;
    width: 23.62px;
    height: 13.5px;
    position: relative;

}

.linea .tres {
    right: 15px;
    top: 300px;
    position: relative;
}

.linea a {
    color: white;
    text-align: center;
    bottom: 70px;
    font-size: 20px;
    position: relative;
    
}

.Cont {
    top: 43px;
    width: 1400px;
    left: 43px;
    height: 100px;
    position: relative;
}

.Cont .uno {
    color: black;
    font-size: 30px;
    left: 733px;
    bottom: 86px;
    text-decoration: none;
    position: relative;
}

.Cont .dos {
    left: 972px;
    bottom: 155px;
    color: black;
    font-size: 30px;
    position: relative;
    text-decoration: none;
}

.Cont .lupita {
    bottom: 150px;
    left: 980px;
    width: 27px;
    height: 27px;
    position: relative;
}

.Cont .carrito {
    position: relative;
    bottom: 100px;
    left: 5000px;
    width: 27px;
    height: 27px;
}

.Cont .imagenes {
    width: 196px;
    height: 44px;
}

.Cont h1 {
    bottom: 200px;
    left: 754px;
    font-weight: bold;
    position: relative;
}

.CuadroPeque {
    bottom: 800px;
    left: 1100px;
    width: 160px;
    height: 114px;
    position: relative;
    background-color: #D5FF43;
    border-radius: 10px;
    transition: all 300ms;
}

.CuadroPeque:hover {
    transform: scale(1.1);
}

.CuadroPeque imagen {
    top: 20px;
    left: 20px;
    width: 129px;
    height: 29px;
    position: relative;
}

.CuadroPeque p {
    left: 30px;
    font-size: 26px;
    font-weight: bold;
    position: relative;
}

.comprador {
    position: relative;
    bottom: 900px;
    left: 58px;
}

.comprador h2 {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    bottom: 5px;
}

.comprador a {
    font-size: 27px;
    position: relative;
    bottom: 39px;
}

.tarjeta {
    position: relative;
    left: 100px;
}