html {
    height: 100%;
}

body {
    background: rgb(128, 128, 128);
    background: linear-gradient(0deg, rgba(128, 128, 128, 1) 33%, rgba(255, 255, 255, 1) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 300ms;
}

.Contenedor{
    position: relative;
    margin: auto;
    width: 1400px;
    height: 800px;
    background-color: #FFFFFF;
    top: 140px;
}

.linea {
    bottom:427px;
    left: 1290px;
    width: 110px;
    height: 802px;
    background-color: #212020;
    position: relative;
}

.linea .uno {
    bottom:-40px;
    left: 45px;
    width: 23.62px;
    height: 13.5px;
    position: relative;
}

.linea .dos {
    top: 750px;
    left: 15px;
    width: 23.62px;
    height: 13.5px;
    position: relative;

}

.linea .tres {
    right: -20px;
    top: 300px;
    position: relative;
}

.linea a {
    color: white;
    text-align: center;
    bottom: 70px;
    font-size: 20px;
    position: relative;
    
}

.Cont {
    top: 43px;
    width: 1400px;
    left: 43px;
    height: 100px;
    position: relative;
}

.Cont .uno {
    color: black;
    font-size: 30px;
    left: 533px;
    bottom: 26px;
    text-decoration: none;
    position: relative;
}

.Cont .dos {
    left: 972px;
    bottom: 155px;
    color: black;
    font-size: 30px;
    position: relative;
}

.Cont .lupita {
    bottom: 155px;
    left: 1100px;
    width: 27px;
    height: 27px;
    position: relative;
}

.Cont .carrito {
    bottom: 155px;
    left: 1150px;
    width: 27px;
    height: 27px;
    position: relative;
}

.Cont imagenes {
    width: 196px;
    height: 44px;
}

.Cont h1 {
    bottom: 200px;
    left: 974px;
    font-weight: bold;
    position: relative;
}

.CuadroPeque {
    bottom: 580px;
    left: 1100px;
    width: 160px;
    height: 114px;
    position: relative;
    background-color: #D5FF43;
    border-radius: 10px;
    transition: all 300ms;
}

.CuadroPeque:hover {
    transform: scale(1.1);
}

.CuadroPeque imagen {
    top: 20px;
    left: 20px;
    width: 129px;
    height: 29px;
    position: relative;
}

.CuadroPeque p {
    left: 30px;
    font-size: 26px;
    font-weight: bold;
    position: relative;
}

.saldo {
    text-align: center;
    bottom: 900px;
    position: relative;
}

.saldo h1 {
    font-size: 40px;
}

.saldo p {
    font-weight: bold;
    font-size: 27px;
}

.saldo .Entrada{
    height: 58px;
    width: 288px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    border: 0.5px solid gray;
}

.tarjeta {
    height: 320px;
    left: 435px;
    position: relative;
    width: 530px;
}