@font-face {
    font-family: letra;
    src: url(tipografia/Poppins-Light.ttf);
    font-family: letra1;
    src: url(tipografia/Poppins-ExtraLight.ttf);
}

.contenido {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    max-width: 1920px;
}

#cabecera{
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
}

#cuadro1{
    margin-left: 5vw;
}
#cuadro2{
    display: flex;
    margin-right: 3vw;
}
#cuadro2 p{
    margin: 0vw 1vw;
}

#cuadros{
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
    width: 100%;
}

#parte2{

    border: red 1px solid;
    margin: 0px;
}

#parte2_1{
    border: red 1px solid;
    margin: 0px;
    margin-right: 20vw;
}
.fondoCompleto1{
    background-color: #1e1d2b;
    width: 100%;
    border-style: solid;
    border-color: #cb5d2a;
    text-align: center;
}

#foods{
    color: #fd6f2a;
    font-family: letra;
    font-size: 3.125vw;
    margin: 0vw;
    
}

#home1{
    color: #efeff0;
    top:-1.9vh;
    left: 60.83vw;
    font-family: letra1;
    font-size: 1.45vw;
}

#about1{
    color: #efeff0;
    top: -4.2vh;
    left: 68.48vw;
    font-family: letra1;
    font-size: 1.45vw;
}

#menu1{
    color: #efeff0;
    top: -6.6vh;
    left: 75.93vw;
    font-family: letra1;
    font-size: 1.45vw;
}

#service1{
    color: #efeff0;
    top:-9vh;
    left: 83.48vw;
    font-family: letra1;
    font-size: 1.45vw;
}

#contact1{
    color: #efeff0;
    top:-11.5vh;
    left: 90.48vw;
    font-family: letra1;
    font-size: 1.45vw;
}

#fullWeb1{
        border: red 1px solid;
    color: #fd6f2a;
    top:-20vh;
    left:20.67vw;
    width: 50.67vw;
    font-family: letra;
    font-size: 4.89vw;
}

#homeimg{
    width: 20vw;
}

#foods1{
    color: #efeff0;
        border: red 1px solid;
    top:-12vh;
    left: 20.83vw;
    width: -7.8vw;
    font-family: letra1;
    font-size: 1.66vw;
}

#foods2{
        border: red 1px solid;
    color: #efeff0;
    top:-381px;
    left: 377px;
    width: 317px;
    font-family: letra1;
    font-size: 1.66vw;
}

.cuadro {
    width: 217px;
    height: 24px;
    background-color: #fd6f2a;
    border: 1px solid #ccc;
    padding: 20px;
    top: -850px;
    left: 377px;
}

#textoCuadro{
        border: red 1px solid;
    color: #efeff0;
    top: -48px;
    left: 5px;
    width: 317px;
    font-family: letra1;
    font-size: 1.66vw;
}

.fondoCompleto2{
    background-color: #1e1d2b;
    left: 0.10vw;
    width: 100vw;
    height: 100vh;
    border-style: solid;
    border-color: #cb5d2a;
}

#imgabout{
    top: 10.14vh;
    left: 9.89vw;
    width: 24.68vw;
}

#aboutUs{
    color: #c95c2a;
    top:-9.02vh;
    left: 40.68vw;
    width: -0.41vw;
    font-family: letra;
    font-size: 2vw;
}

#weSpeak{
    color: #efeff0;
    top: -9.19vh;
    left: 40.67vw;
    width: 64.51vw;
    font-family: letra1;
    font-size: 2vw;
}

#foodLanguage{
    color: #efeff0;
    top: -12vh;
    left: 40.68vw;
    width: 16.51vw;
    font-family: letra1;
    font-size: 1.71vw;
}

#itIs{
    color: #efeff0;
    top: -13.17vh;
    left: 40.69vw;
    width: 25.56vw;
    font-family: letra1;
    font-size: 1.98vh;
}

.cuadro2 {
    width: 9.21vw;
    height: 1.30vw;
    background-color: #fd6f2a;
    border: 1px solid #ccc;
    padding: 0.26vw;
    top: -8.69vw;
    left: 40.68vw;
}

#textoCuadro2{
    color: #efeff0;
    top: -24px;
    left: 31px;
    width: 317px;
    font-family: letra1;
    font-size: 20px;
}

.fondoCompleto3{
    background-color: #1e1d2b;
    top: 0px;
    left: 2px;
    width: 1920px;
    height: 830px;
    border-style: solid;
    border-color: #cb5d2a;
}

#foodMenu{
    color: #fd6f2a;
    top:91px;
    left: 924px;
    width: -8px;
    font-family: letra;
    font-size: 32px;
}

#freshTaste{
    color: #efeff0;
    top: 36px;
    left: 647px;
    width: 694px;
    font-family: letra1;
    font-size: 54px;
}

#food1{
    top: 9px;
    left: 71px;
    width: 294px;
}

.burgerChickenCuadro{
    width: 434px;
    height: 434px;
    background-color: #ffefe8;
    border: 1px solid #999092;
    padding: 5px;
    top: 38px;
    left: 250px;
}

#chickenBurger{
    color: black;
    top: -24px;
    left: 93px;
    width: 317px;
    font-family: letra1;
    font-size: 34px;
}

#tastyFood{
    color: black;
    top: -58px;
    left: 138px;
    width: 317px;
    font-family: letra1;
    font-size: 26px;
}

#number{
    color: #fd6f2a;
    top:-87px;
    left: 173px;
    width: -8px;
    font-family: letra;
    font-size: 26px;
}

#food2{
    top: -14px;
    left: 50px;
    width: 318px;
}

.beefBurgerCuadro{
    width: 434px;
    height: 434px;
    background-color: #ffefe8;
    border: 1px solid #999092;
    padding: 5px;
    top: -408px;
    left: 765px;
}

#specialBeef{
    color: black;
    top: -62px;
    left: 62px;
    width: 317px;
    font-family: letra1;
    font-size: 33px;
}
#tastyFood2{
    color: black;
    top: -92px;
    left: 138px;
    width: 317px;
    font-family: letra1;
    font-size: 27px;
}

#number2{
    color: #fd6f2a;
    top:-117px;
    left: 173px;
    width: -8px;
    font-family: letra;
    font-size: 27px;
}

#food3{
    top: 4px;
    left: 78px;
    width: 272px;
}

.chickenFryCuadro{
    width: 434px;
    height: 434px;
    background-color: #ffefe8;
    border: 1px solid #999092;
    padding: 5px;
    top: -854px;
    left: 1279px;
}

#chickenFry{
    color: black;
    top: -19px;
    left: 62px;
    width: 317px;
    font-family: letra1;
    font-size: 33px;
}

#tastyFood3{
    color: black;
    top: -54px;
    left: 138px;
    width: 317px;
    font-family: letra1;
    font-size: 27px;
}

#number3{
    color: #fd6f2a;
    top:-79px;
    left: 173px;
    width: -8px;
    font-family: letra;
    font-size: 27px;
}

.fondoCompleto4{
    background-color: #1e1d2b;
    top: 0px;
    left: 2px;
    width: 1920px;
    height: 830px;
    border-style: solid;
    border-color: #cb5d2a;
}


#services{
    color: #fd6f2a;
    top: 36px;
    left: 930px;
    width: -8px;
    font-family: letra;
    font-size: 32px;
}

#weProvide{
    color: #efeff0;
    top: 33px;
    left: 586px;
    width: 845px;
    font-family: letra1;
    font-size: 57px;
}

#s1{
    top: 42px;
    left: 328px;
    width: 312px;
}

#order{
    color: #fd6f2a;
    top: -13px;
    left: 432px;
    width: -8px;
    font-family: letra;
    font-size: 36px;
}

#established{
    color: #efeff0;
    top: -39px;
    left: 266px;
    width: 553px;
    font-family: letra;
    font-size: 39px;
}

#establishedcont{
    top: -84px;
    width: 4593px;
    height: 48px;
    border-radius: 108px;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra;
    color:#fcfcfc;
    left: -1842px;
}

#establishcont{
    top: -131px;
    width: 4593px;
    height: 48px;
    border-radius: 108px;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra;
    color:#fcfcfc;
    left: -1842px;
}

#s2{
    top: -643px;
    left: 823px;
    width: 316px;
}

#shipping{
    color: #fd6f2a;
    top: -700px;
    left: 887px;
    width: -8px;
    font-family: letra;
    font-size: 36px;
}

#established2{
    color: #efeff0;
    top: -733px;
    left: 765px;
    width: 553px;
    font-family: letra;
    font-size: 39px;
}

#s3{
    top: -1225px;
    left: 1343px;
    width: 276px;
}

#dellvered{
    color: #fd6f2a;
    top: -1264px;
    left: 1390px;
    width: -8px;
    font-family: letra;
    font-size: 36px;
}

#established3{
    color: #efeff0;
    top: -1298px;
    left: 1358px;
    width: 553px;
    font-family: letra;
    font-size: 39px;
}

.fondoCompleto5{
    background-color: #1e1d2b;
    top: 0px;
    left: 2px;
    width: 1920px;
    height: 830px;
    border-style: solid;
    border-color: #cb5d2a;
}

.cuadroPart5{
    width: 1608px;
    height: 564px;
    background-color: #ffefe8;
    border: 1px solid #999092;
    padding: 5px;
    top: 124px;
    left: 148px;
}

#makeQuality{
    color: black;
    top: 105px;
    left: 465px;
    width: 759px;
    font-family: letra1;
    font-size: 70px;
    text-align: center;
}

.cuadrito{
    width: 172px;
    height: 31px;
    background-color: #fd6f2a;
    border: 1px solid #ccc;
    padding: 5px;
    top: 35px;
    left: 752px;
}

#learnMore{
    color: #efeff0;
    top: -24px;
    left: 31px;
    width: 317px;
    font-family: letra1;
    font-size: 22px;
}

.fondoCompleto6{
    background-color: #1e1d2b;
    top: 0px;
    left: 2px;
    width: 1920px;
    height: 636px;
    border-style: solid;
    border-color: #cb5d2a;
}

.menu{
    color: #efeff0;
    top: -24px;
    left: 31px;
    width: 317px;
    font-family: letra1;
    font-size: 22px;
}

#menuLinks{
    color: white;
    top: 97px;
    left: 339px;
    width: 317px;
    font-family: letra1;
    font-size: 34px;
}

#home{
    color: #efeff0;
    top: 87px;
    left: 339px;
    width: 317px;
    font-family: letra1;
    font-size: 22px;
}

#about{
    color: #efeff0;
    top: 81px;
    left: 339px;
    width: 317px;
    font-family: letra1;
    font-size: 22px;
}

#menu{
    color: #efeff0;
    top: 76px;
    left: 339px;
    width: 317px;
    font-family: letra1;
    font-size: 22px;
}

#service{
    color: #efeff0;
    top: 72px;
    left: 339px;
    width: 317px;
    font-family: letra1;
    font-size: 22px;
}

#contacts{
    color: #efeff0;
    top: 66px;
    left: 339px;
    width: 317px;
    font-family: letra1;
    font-size: 22px;
}

#barra{
    top: -200px;
    left: 724px;
    background-color: #fd6f2a;
}

.our{
    color: #efeff0;
    top: -378px;
    left: 614px;
    width: 402px;
    font-family: letra1;
    font-size: 32px;
}

#ourService{
    color: #efeff0;
    top: 66px;
    left: 339px;
    width: 317px;
    font-family: letra1;
    font-size: 22px;
}
#webDesign{
    color: #efeff0;
    top: -5px;
    left: 2px;
    width: 317px;
    font-family: letra1;
    font-size: 22px;
}

#webDevelopment{
    color: #efeff0;
    top: -5px;
    left: 2px;
    width: 317px;
    font-family: letra1;
    font-size: 22px;
}

#marketing{
    color: #efeff0;
    top: -5px;
    left: 2px;
    width: 317px;
    font-family: letra1;
    font-size: 22px;
}

#productManagement{
    color: #efeff0;
    top: -5px;
    left: 2px;
    width: 317px;
    font-family: letra1;
    font-size: 22px;
}

#graphicDesign{
    color: #efeff0;
    top: -5px;
    left: 2px;
    width: 317px;
    font-family: letra1;
    font-size: 22px;
}

.informacion{
    color: #efeff0;
    top: -451px;
    left: 614px;
    width: 402px;
    font-family: letra1;
    font-size: 32px;
}

#information{
    color: #efeff0;
    top: -372px;
    left: 321px;
    width: 402px;
    font-family: letra1;
    font-size: 32px;
}

#aboutUs1{
    color: #efeff0;
    top: -390px;
    left: 321px;
    width: 402px;
    font-family: letra1;
    font-size: 28px;
}

#delivery{
    color: #efeff0;
    top: -390px;
    left: 321px;
    width: 402px;
    font-family: letra1;
    font-size: 28px;
}

#privacy{
    color: #efeff0;
    top: -390px;
    left: 321px;
    width: 402px;
    font-family: letra1;
    font-size: 28px;
}

#terms{
    color: #efeff0;
    top: -390px;
    left: 321px;
    width: 402px;
    font-family: letra1;
    font-size: 28px;
}

.contact{
    color: #efeff0;
    top: -534px;
    left: 614px;
    width: 402px;
    font-family: letra1;
    font-size: 32px;
}

#contactUs{
    color: #efeff0;
    top: -729px;
    left: 684px;
    width: 402px;
    font-family: letra1;
    font-size: 32px;
}

#circulo1{
    background-color:#ff702a;
    top: -740px;
    left: 679px;
    width: 47px;
    height: 44px;
    font-family: letra1;
    border-radius: 50%;
}

#circulo2{
    background-color:#ff702a;
    top: -815px;
    left: 754px;
    width: 47px;
    height: 44px;
    font-family: letra1;
    border-radius: 50%;
}

#circulo3{
    background-color:#ff702a;
    top: -891px;
    left: 832px;
    width: 47px;
    height: 44px;
    font-family: letra1;
    border-radius: 50%;
}

#linea1{
    top: 202px;
    left: 339px;
    color: #ff702a;
    font-size: 34px;
}

#linea2{
    top: 104px;
    left: 7px;
    color: #ff702a;
    font-size: 34px;
}

#linea3{
    top: -269px;
    left: 323px;
    color: #ff702a;
    font-size: 34px;
}

#linea4{
    top: -625px;
    left: 687px;
    color: #ff702a;
    font-size: 34px;
}