

.contenedor{
    width: 100vw;
    height: 50vw;
    background-color: aquamarine;
}

.fondoComplet {
    width: 100vw;
    height: 50vw;
}

#fondoPaisaje{
    width: 100vw;
    height: 50vw;
}

#imagenCasita{
    display: flex;
    position: relative;
    top: -100vw;
    width: 20vw;
    height: 20vw;
    margin-left: 0vw;
}

#imagenCasita2{
    display: flex;
    position: relative;
    top: -120vw;
    width: 20vw;
    height: 17vw;
    margin-left: 82vw;
}

#imagenSol{
    display: flex;
    position: relative;
    top: -51vw;
    width: 20vw;
    height: 20vw;
    margin-left: 64vw;
    opacity: 0;
    animation-name: imagen1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes imagen1{
    0% {opacity: 0.6;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

#imagenNube{
    display: flex;
    position: relative;
    top: -70vw;
    width: 20vw;
    height: 20vw;
    margin-left: 80vw;
    animation-name: imagen2;
    animation-duration:8s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    z-index: 2;
}

@keyframes imagen2 {
    0% {left: 25vw;}
    50% {left: -42vw}
    100% {left: -104.16vw;}
}

#imagenFlor{
    display: flex;
    position: relative;
    top: -121vw;
    width: 20vw;
    height: 20vw;
    margin-left: 41vw;
    animation-name: imagen3;
    animation-duration:15s;

    animation-iteration-count: infinite;
}

@keyframes imagen3 {
    0% {top: 10vw;}
    50% {top: -30vw;}
    100% {top: -57vw;}
}

#tres{
    display: grid;
    grid-column-start: 3;
    margin-top: -105vw;
    justify-content: center;
    overflow: hidde;
    
}

#tres p{
    position: relative;
    font-size: 2vw;
    top: 0vw;   
    animation-name: conteo;
    animation-duration: 12s;
}



@keyframes conteo{
   10% {top: -10vw; opacity: 10%;}
   20% {top: 10vw; opacity: 50%;}
   50% {top: 10vw; opacity: 100%;}
   100% {top: -100vw; opacity: 0%;}

    
}

#imagenGota{
    display: flex;
    position: relative;
    top: -170vw;

    margin-left: 44vw;
    animation-name: imagen4;
    animation-duration:0.3s;
    animation-delay: 8s;
    animation-iteration-count: 4;
}
.lluvia {
    width: 10vw;
    height: auto;
}


@keyframes imagen4 {
    0% {top: -100vw; opacity: 0;}
    20% {top: -90vw; opacity: 1;}
    30% {top: -80vw;}
    40% {top: -70vw;}
    50% {top: -60vw;}
    60% {top: -50vw;}
    70% {top: -40vw;}
    80% {top: -30vw;}
    90% {top: -20vw;}
    100% {top: 10vw; opacity: 1;}
}