#contenedor{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #d71435;
    top: 0vw;
    left: 0vw;
}

#cajas{
    background: white;
}

section p {
    overflow: hidden;
    border-bottom: 0.5vw solid #d71435;
    max-height: 0vw;
    padding: -1vw;
    transition: all 0.2s ease-in-out;
}

section a {
    display: block;
    text-decoration: none;
    padding: 1.5vw;
    color: #276eb6;
}

section:target p{
    max-width: 7.5vw;
    padding: 1.5vw;
    top: -5vw;
}