@font-face {
    font-family: letra1;
    src: url(letra/Myriad\ Pro\ Light.otf);
}

@font-face {
    font-family: letra2;
    src: url(letra/Myriad\ Pro\ Regular.ttf);
}

@font-face {
    font-family: letra3;
    src: url(letra/Myriad\ Pro\ Semibold\ Italic.ttf);
}

@font-face {
    font-family: letra4;
    src: url(letra/Myriad\ Pro\ Bold.ttf);
}
.secciones {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: red 1px solid;
}

#cuadrito{
    background-color: #3669c9;
    /*border: 1px solid #91a9d7;*/
    border: red 1px solid;
}

.cuadroAzul{
    position: fixed;
    width: 98vw;
    height: 10vw;
    top: 0vw;
    box-sizing: border-box;
    z-index: 1;
}

#inicio{
    position: relative;
    color: white;
    top: 1.8vw;
    left: 15vw;
    font-size: 2vw;
    text-decoration: none;
}

#queEs{
    position: relative;
    color: white;
    top: -2.4vw;
    left: 25vw;
    font-size: 2vw;
}

#imgGobierno{
    position: relative;
    color: black;
    top: -7.6vw;
    left: 40vw;
    width: 20vw;
    height: 4vw;
}

#entrega{
    position: relative;
    color: white;
    top: -13vw;
    left: 65vw;
    font-size: 2vw;
}

#cuadroConsult{
    top: -17.5vw;
    left: 82.3vw;
    width: 10vw;
    height: 3vw;
    position: relative;
    background-color: white;
    border-radius: 1.3vw;
}

#consultar1{
    position: relative;
    color: black;
    top: -20.8vw;
    left: 84vw;
    font-size: 1.7vw;
    text-decoration: none;
}

#seccion1{
    margin-top: 10vw;
    position: relative;
}

#fondo1{
    width: 100vw;
    height: 100vh;
}

#imgFondo{
    position: relative;
    width: 98vw;
    height: 100vh;
    top: 0vw;
    left: 0vw;
    opacity: 1;
}

.cuadroBlanco{
    top: -44.5vw;
    left: 5.5vw;
    width: 32vw;
    height: 39vw;
    position: relative;
    background-color: white;
    border-radius: 1.5vw;
}

#letrita{
    color: black;
    font-size: 2vw;
    margin-left: 6.5vw;
    margin-top: 1.8vw;
    font-family: letra1;
}

#letrita1{
    color: black;
    font-size: 2vw;
    margin-left: 12.5vw;
    margin-top: -2.3vw;
    font-family: letra1;
}

#letrita2{
    color: black;
    font-size: 2vw;
    margin-left: 12vw;
    margin-top: -2.1vw;
    font-family: letra1;
}

#letrita3{
    color: black;
    font-size: 1vw;
    margin-left: 1.8vw;
    margin-top: -2vw;
    font-family: letra1;
}

#letrita4{
    color: black;
    font-size: 1vw;
    margin-left: 13vw;
    margin-top: -0.8vw;
    font-family: letra1;
}

#letrita5{
    margin-left: 3vw;
    font-size: 1vw;
    font-family: letra1;
}

#tipo{
    position: relative;
    width: 25vw;
    height: 1.8vw;
    margin-left: 3vw;
    font-size: 1.2vw;
    font-family: letra1;
}

#nums{
    position: relative;
    width: 25vw;
    height: 1.8vw;
    margin-left: 3vw;
}

#nombre{
    position: relative;
    width: 25vw;
    height: 1.8vw;
    margin-left: 3vw;
}

#apellido{
    position: relative;
    width: 25vw;
    height: 1.8vw;
    margin-left: 3vw;
}

#fechaE{
    position: relative;
    width: 25vw;
    height: 2vw;
    margin-left: 3vw;
    font-size: 1.2vw;
    font-family: letra1;
}

#telf{
    position: relative;
    width: 25vw;
    height: 1.8vw;
    margin-left: 3vw;
}

#cuadritoAzul{
    top: -50.7vw;
    left: 14.5vw;
    width: 14vw;
    height: 3.2vw;
    position: relative;
    border-radius: 1vw;
    background-color: #3669c9;
    border: #3669c9 1px solid;
}

#letrita6{
    margin-top: 0.5vw;
    font-size: 1.5vw;
    margin-left: 0vw;
    height: 3vw;
    color: white;
    text-align: center;
    font-family: letra1;
}

#letrita7{
    margin-left: 60.3vw;
    margin-top: -74vw;
    font-size: 2vw;
    color: black;
    font-family: letra1;
}

#letrita8{
    width: 31vw;
    margin-left: 52.5vw;
    margin-top: -1.2vw;
    font-size: 1.4vw;
    color: black;
    font-family: letra1;
    text-align: center;
}

#cuadritoAzul2{
    top: 1vw;
    left: 60.5vw;
    width: 14vw;
    height: 3.2vw;
    position: relative;
    border-radius: 1vw;
    background-color: #3669c9;
}

#boton2{
    position: relative;
    color: white;
    margin-left: 64vw;
    top: -2.7vw;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: letra1;
}

#seccion2{
    background-color: white;
    position: relative;
}

#fondo2{
    width: 100vw;
    height: 100vh;
}

#img2{
    width: 50vw;
    height: 40vw;
    margin-left: 4vw;
    margin-top: 8vw;
}

#que{
    margin-left: -22.3vw;
    margin-top: -30vw;
    font-size: 3vw;
    color: black;
    font-family: letra1;
}

#esquema{
    text-align: center;
    position: relative;
    width: 39vw;
    margin-left: -130.5vw;
    margin-top: -10vw;
    font-size: 1.7vw;
    color: black;
    font-family: letra1;
}

#hogares{
    text-align: center;
    position: relative;
    width: 45vw;
    margin-left: -42vw;
    margin-top: 16vw;
    font-size: 1.7vw;
    color: black;
    font-family: letra1;
}

#boton3{
    position: relative;
    color: black;
    margin-left: -27vw;
    top: 20.7vw;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: letra1;
}

#seccion3{
    background-color: white;
    position: relative;
}
    
#fondo3{
    width: 100vw;
    height: 100vh;
}

#etapas{
    font-size: 2.5vw;
    font-family: letra1;
    text-align: center;
}

#etapa1{
    margin-left: 15vw;
    font-size: 2vw;
    font-family: letra1;
}

#etapa2{
    margin-top: -4.3vw;
    margin-left: 46vw;
    font-size: 2vw;
    font-family: letra1;
}

#etapa3{
    margin-top: -4.3vw;
    margin-left: 76vw;
    font-size: 2vw;
    font-family: letra1;
}

#desde{
    margin-top: -0.5vw;
    margin-left: 10vw;
    font-size: 2.2vw;
    font-family: letra2;
}

#nueve{
    margin-top: -4.8vw;
    margin-left: 38.5vw;
    font-size: 2.2vw;
    font-family: letra2;
}

#abril{
    margin-top: -4.8vw;
    margin-left: 68vw;
    font-size: 2.2vw;
    font-family: letra2;
}

#bancos{
    text-align: center;
    font-size: 2.5vw;
    font-family: letra1;
}

#bancamia{
    width: 22vw;
    height: 10vw;
    margin-left: 7vw;
    margin-top: -5vw;
}

#bancolombia{
    width: 28vw;
    height: 14vw;
    margin-left: 4vw;
    margin-top: -5vw;
}

#bancoCajaSocial{
    position: relative;
    width: 29vw;
    height: 8vw;
    margin-left: 62vw;
    top: -10vw;
}

#movii{
    position: relative;
    width: 16vw;
    height: 5vw;
    margin-left: 28vw;
    top: -12vw;
}

#daviplata{
    position: relative;
    width: 18vw;
    height: 10vw;
    margin-left: 4vw;
    top: -10vw;
}

#preguntas{
    position: relative;
    color: black;
    margin-left: -27vw;
    top: -3vw;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: letra1;
}

#seccion4{
    background-color: rgb(216, 240, 175);
    position: relative;
}

#fondo4{
    width: 100vw;
    height: 100vh;
}

#preguntasFrecuentes{
    margin-top: 5vw;
    font-size: 2.5vw;
    font-family: letra1;
    text-align: center;
}

#uno{
    margin-top: -1vw;
    margin-left: 47.5vw;
    width: 2vw;
    height: 2vw;
    background-color: #3669c9;
    color: white;
    text-align: center;
    border-radius: 2vw;
}

#pregU{
    text-align: center;
    margin-top: 1vw;
    font-size: 2vw;
    font-family: letra3;
}

#respU{
    text-align: center;
    position: relative;
    width: 49vw;
    margin-left: 23.5vw;
    margin-top: 0vw;
    font-size: 1.6vw;
    color: black;
    font-family: letra1;
}

#dos{
    margin-top: 1vw;
    margin-left: 47.5vw;
    width: 2vw;
    height: 2vw;
    background-color: #3669c9;
    color: white;
    text-align: center;
    border-radius: 2vw;
}

#pregD{
    text-align: center;
    margin-top: -0.5vw;
    font-size: 2vw;
    font-family: letra3;
}

#respD{
    text-align: center;
    position: relative;
    width: 49vw;
    margin-left: 23.5vw;
    margin-top: 0vw;
    font-size: 1.6vw;
    color: black;
    font-family: letra1;
}

#verMas{
    position: relative;
    color: black;
    margin-left: 47vw;
    top: 1vw;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: letra1;
}

#seccion5{
    background-color: rgb(215, 238, 250);
    position: relative;
}

#fondo5{
    width: 100vw;
    height: 100vh;
}

#tres{
    margin-top: 4vw;
    margin-left: 47.5vw;
    width: 2vw;
    height: 2vw;
    background-color: #3669c9;
    color: white;
    text-align: center;
    border-radius: 2vw;
    border: 1px solid red;
}

#pregT{
    width: 77vw;
    margin-top: 0vw;
    margin-left: 10.7vw;
    font-size: 2vw;
    font-family: letra3;
}

#respT{
    text-align: center;
    position: relative;
    width: 75vw;
    margin-left: 11.5vw;
    margin-top: -1.5vw;
    font-size: 1.6vw;
    color: black;
    font-family: letra1;
}

#cuatro{
    margin-top: 4vw;
    margin-left: 47.5vw;
    width: 2vw;
    height: 2vw;
    background-color: #3669c9;
    color: white;
    text-align: center;
    border-radius: 2vw;
    border: 1px solid red;
}

#pregC{
    width: 77vw;
    margin-top: 0vw;
    margin-left: 10.7vw;
    text-align: center;
    font-size: 2vw;
    font-family: letra3;
}

#respC{
    text-align: center;
    position: relative;
    width: 82vw;
    margin-left: 8vw;
    margin-top: -1.5vw;
    font-size: 1.6vw;
    color: black;
    font-family: letra1;
}

#verMasU{
    position: relative;
    color: black;
    margin-left: 47vw;
    top: 1vw;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: letra1;
}
#seccion6{
    position: relative;
}

#fondo6{
    width: 100vw;
    height: 100vh;
}

#cinco{
    margin-top: 4vw;
    margin-left: 47.5vw;
    width: 2vw;
    height: 2vw;
    background-color: #3669c9;
    color: white;
    text-align: center;
    border-radius: 2vw;
    border: 1px solid red;
}

#pregCN{
    width: 85vw;
    margin-top: 0vw;
    margin-left: 7vw;
    font-size: 2vw;
    font-family: letra3;
}

#respCN{
    text-align: center;
    position: relative;
    width: 75vw;
    margin-left: 11.5vw;
    margin-top: -1.5vw;
    font-size: 1.6vw;
    color: black;
    font-family: letra1;
}

#cuadritoAzul3{
    top: 0vw;
    left: 7vw;
    width: 83vw;
    height: 16vw;
    position: relative;
    border-radius: 2vw;
    background-color: rgba(21,127,251,255);
}

#letrita9{
    position: relative;
    width: 27vw;
    color: white;
    margin-left: 35.5vw;
    margin-top: -13vw;
    font-size: 2.5vw;
    font-family: letra4;
}

#letrita10{
    position: relative;
    width: 90vw;
    color: white;
    margin-left: 15vw;
    margin-top: -1vw;
    font-size: 2vw;
    font-family: letra1;
}

#cuadroContact{
    top: -0.5vw;
    left: 43.3vw;
    width: 12vw;
    height: 3vw;
    position: relative;
    background-color: white;
    border-radius: 1.3vw;
}

#contactanos{
    position: relative;
    color: black;
    top: -4.8vw;
    left: 45vw;
    font-size: 1.7vw;
}

.cuadroAzul2{
    position: relative;
    width: 100vw;
    height: 9vw;
    background-color: #3669c9;
    border: 1px solid #91a9d7;
    top: -18vw;
    box-sizing: border-box;
    z-index: 1;
}

#imgLocation{
    top: 0.4vw;
    left: 439px;
    width: 31px;
    height: 41px;
    opacity: 1;
    position: relative;
    font-size: 20px;
}

#texto1{
    position: relative;
    color: white;
    top: -16px;
    left: 364px;
    font-size: 24px;
    text-decoration: none;
}

#texto2{
    position: relative;
    color: white;
    top: -37px;
    left: 151px;
    font-size: 24px;
    text-decoration: none;
}

#texto3{
    position: relative;
    color: white;
    top: -59px;
    left: 346px;
    font-size: 24px;
    text-decoration: none;
}

#texto4{
    position: relative;
    color: white;
    top: -83px;
    left: 252px;
    font-size: 24px;
    text-decoration: none;
}

#imgFooter{
    top: -221px;
    left: 822px;
    width: 313px;
    height: 60px;
    opacity: 1;
    position: relative;
    font-size: 20px;
}

#imgPhone{
    top: -280px;
    left: 1223px;
    width: 31px;
    height: 41px;
    opacity: 1;
    position: relative;
    font-size: 20px;
}

#textos1{
    position: relative;
    color: white;
    top: -302px;
    left: 1410px;
    font-size: 24px;
    text-decoration: none;
}

#textos2{
    position: relative;
    color: white;
    top: -324px;
    left: 1346px;
    font-size: 24px;
    text-decoration: none;
}

#textos3{
    position: relative;
    color: white;
    top: -347px;
    left: 1464px;
    font-size: 24px;
    text-decoration: none;
}

#textos4{
    position: relative;
    color: white;
    top: -369px;
    left: 1469px;
    font-size: 24px;
    text-decoration: none;
}