@font-face {
    font-family: letra;
    src: url(tiposLetras/AmazonEmber_Th.ttf);
}

.contenido {
    width: 65%;
    margin: 0 auto;
}
.fondoComplet {
    position: relative;
    top: 0px;
    left: 2px;
    width: 1918px;
    height: 4149px;
    background: black;
    border: 1px solid #707070;
    opacity: 1;
    border: red 5px solid;
}

#fondoTwitch {
    position: relative;
    top: -4144px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: transparent url('imagenes/FondoTwitch.png') 0% 0% no-repeat padding-box;
    opacity: 0.35;
}

#logoPrime {
    position: relative;
    top: -858px;
    left: 682px;
    width: 556px;
    height: 313px;
    background: transparent url('imagenes/LogoPrimeE2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#yourFavorite {
    position: relative;
    color: #FFFFFF;
    top: -950px;
    left: 446px;
    width: 1151px;
    height: 60px;
    background: transparent;
    opacity: 1;
    font-family: 'Franklin Gothic Medium';
    font-size: 63px;
}

#search {
    position: relative;
    top: -1328px;
    left: -1662px;
    width: 36px;
    height: 36px;
    background: transparent url('imagenes/search.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#group1 {
    position: relative;
    top: -1409px;
    left: 1695px;
    width: 205px;
    height: 54px;
    background: transparent url('imagenes/Group1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#login {
    position: relative;
    width: 50px;
    height: 20px;
    background: rgb(255, 255, 255);
    border-radius: 108px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-family: letra;
    top: -1545px;
    left: 1796px;
}

#nowYou {
    position: relative;
    top: -1028px;
    left: 460px;
    width: 1160px;
    height: 102px;
    background: transparent;
    opacity: 1;
    font-family: letra;
    color: #FFFFFF;
    font-size: 32px;
}

#rectangle2 {
    position: relative;
    top: -1051px;
    left: 733px;
    width: 458px;
    height: 104px;
    background: transparent url('imagenes/Rectangle2.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 52px;
    opacity: 1;
}

#signUp{
    position: relative;
    top: -1026px;
    left: 775px;
    width: 360px;
    height: 40px;
    background: transparent;
    opacity: 1;color: white;
    font-size: 40px;
}

#group2 {
    position: relative;
    top: 170px;
    left: -413px;
    width: 1792px;
    height: 567px;
    /* UI Properties */
    background: transparent url('imagenes/Group2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#rectangle1 {
    position: relative;
    top: 203px;
    left: -410px;
    width: 1792px;
    height: 724px;
    /* UI Properties */
    background: transparent url('imagenes/Rectangle1.png') 0% 0% no-repeat padding-box;
    border-radius: 108px;
    opacity: 1;
}

#dontLike {
    position: relative;
    top: -438px;
    left: -337px;
    width: 1664px;
    height: 60px;
    /* UI Properties */
    background: transparent url('imagenes/DontLike.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#youFind {
    position: relative;
    top: -339px;
    left: -257px;
    width: 1492px;
    height: 110px;
    background: transparent;
    opacity: 1;
    color: #FFFFFF;
    font-size: 30px;
}

#rectangle4 {
    position: relative;
    top: -973px;
    left: -1197px;
    width: 181px;
    height: 309px;
    /* UI Properties */
    background: transparent url('imagenes/Rectangle4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

#rectangle5 {
    position: relative;
    top: -1291px;
    left: 670px;
    width: 181px;
    height: 309px;
    /* UI Properties */
    background: transparent url('imagenes/Rectangle5.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

#rectangle6 {
    position: relative;
    top: -1291px;
    left: 680px;
    width: 180px;
    height: 309px;
    /* UI Properties */
    background: transparent url('imagenes/Rectangle6.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

#rectangle7 {
    position: relative;
    top: -1291px;
    left: 690px;
    width: 181px;
    height: 309px;
    /* UI Properties */
    background: transparent url('imagenes/Rectangle7.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

#rectangle8 {
    position: relative;
    top: -1291px;
    left: 700px;
    width: 181px;
    height: 309px;
    /* UI Properties */
    background: transparent url('imagenes/Rectangle8.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

#rectangle0 {
    position: relative;
    top: -257px;
    left: -401px;
    width: 1792px;
    height: 567px;
    background: transparent url('imagenes/Rectangle0.png') 0% 0% no-repeat padding-box;
    border-radius: 108px;
    opacity: 1;
}

.rectangle3 {
    top: 2467px;
    left: 64px;
    width: 1792px;
    height: 567px;
    /* UI Properties */
    background: transparent url('imagenes/Rectangle3.png') 0% 0% no-repeat padding-box;
    border-radius: 108px;
    opacity: 1;
}

#cancelAny {
    position: relative;
    top: -1724px;
    left: 560px;
    width: 800px;
    height: 60px;
    /* UI Properties */
    background: transparent url('imagenes/CancelAny.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#ifYou {
    position: relative;
    top: -1461px;
    left: 269px;
    width: 1382px;
    height: 88px;
    /* UI Properties */
    background: transparent url('imagenes/IfYou.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#iconMetro {
    position: relative;
    top: -1507px;
    left: 69px;
    width: 169px;
    height: 169px;
    /* UI Properties */
    background: transparent url('imagenes/IconMetro-cancel.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#compatibleDevices {
    position: relative;
    top: -1328px;
    left: 418px;
    width: 1118px;
    height: 125px;
    /* UI Properties */
    background: transparent url('imagenes/compatibleDevices.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#theresRange {
    position: relative;
    top: -1287px;
    left: 181px;
    width: 1544px;
    height: 99px;
    /* UI Properties */
    background: transparent url('imagenes/TheresRange.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#image1 {
    position: relative;
    top: -1219px;
    left: 685px;
    width: 584px;
    height: 534px;
    /* UI Properties */
    background: transparent url('imagenes/Image1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#image2 {
    position: relative;
    top: -1368px;
    left: -206px;
    width: 256px;
    height: 219px;
    /* UI Properties */
    background: transparent url('imagenes/Image2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#image3 {
    position: relative;
    top: -1371px;
    left: 437px;
    width: 271px;
    height: 238px;
    /* UI Properties */
    background: transparent url('imagenes/Image3.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#logoCace {
    position: relative;
    top: -1010px;
    left: -402px;
    width: 430px;
    height: 241px;
    /* UI Properties */
    background: transparent url('imagenes/LogoCACE.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#poweredBy {
    position: relative;
    top: -1204px;
    left: -285px;
    width: 92px;
    height: 20px;
    /* UI Properties */
    background: transparent url('imagenes/PoweredBy.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#group5 {
    position: relative;
    top: -1131px;
    left: 543px;
    width: 831px;
    height: 25px;
    /* UI Properties */
    background: transparent url('imagenes/Group5.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#flecha {
    position: relative;
    top: -1516px;
    left: -518px;
    width: 19px;
    height: 27px;
    transform: matrix(0.03,-1, 0.03, 0, 0);
    background: transparent url('imagenes/Flecha.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#flecha2 {
    position: relative;
    top: -1514px;
    left: 725px;
    width: 19px;
    height: 27px;
    transform: rotate(190deg);
    background: transparent url('imagenes/Flecha.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}